/tmp/
/WebReasoning1.pdf
/WebReasoning1.synctex.gz
/WebReasoning1.aux
/WebReasoning.synctex.gz
/WebReasoning1.log
/WebReasoning1.nav
/WebReasoning1.out
/WebReasoning1.snm
/WebReasoning1.toc
/.project
/.texlipse
